body {
    font-family: Helvetica, Verdana, Arial;
    background-color: rgb(255, 255, 255);
}

.page-title {
    border: 8px;
    border-style: solid;
    font-weight: bold;
    font-size: 40px;
    padding: 6px; 
}

.pizza{
    border-color: darkred;
    background-color: rgb(246, 235, 237);
    color: darkred;  
}
       

img.pizza {
    border: 4px;
    border-color: green;
    border-style: solid;
}

.chili{
    border-color: rgb(148, 85, 9);
    background-color: rgb(238, 228, 223);
    color: rgb(148, 85, 9);  
}
       
img.chili {
    border: 4px;
    border-color: rgb(212, 191, 7);
    border-style: solid;
}

.chicken {
    border-color: rgb(91, 57, 15);
    background-color: rgb(238, 228, 223);
    color: rgb(91, 57, 15);  
}
       
img.chicken {
    border: 4px;
    border-color: rgb(171, 104, 76);
    border-style: solid;
}


.header#pi {
    font-size: 32px;
    font-weight: bolder;
    color: rgb(4, 82, 4);
}

.header#chi {
    font-size: 32px;
    font-weight: bolder;
    color: rgb(148, 85, 9);
}

.header#fc {
    font-size: 32px;
    font-weight: bolder;
    color: rgb(91, 57, 15); ;
}

.header {
    font-size: 24px;
    font-weight: bolder;
}

.list > li {
    font-size: 20px;
    font-weight: bolder;
    line-height: 1cm;
}

.nested-list > li {
    font-size: 16px;
}

.list {
    margin-left: -5px;
}

.nested-list {
    margin-left: -20px;
}

