html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}


body {
    background-color: rgb(255, 255, 255); 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
}

.container {
    width: 1370px;
    height: 1340px;
    border: solid 1px rgb(179, 178, 178);
    margin: auto
}

.page-title {
    width: auto;
    height: 120px;
    background-color: rgb(9, 96, 8);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 46px;
    text-align: center;
    padding-top: 35px; 
}

img {
    display: inline-block;

}

.list {
    display: inline-block;
    white-space: pre-wrap;
    width: 350px;
    height: 439px;
    overflow: hidden;
    margin: auto; 
    font-size: 20px;
    font-weight: bold;
}

.list-header {
    display: inline-block;
    width: 320px;
    font-size: 36px;
    font-weight: bold;
    margin: -55px 10px 0px auto;
}

.list-header.one, .list-header.two {
    color: rgb(9, 96, 8);
    margin-bottom: 30px;
}

.list-header.one{
    background-color: rgb(239, 239, 239);
    padding: 10px 0px 10px 67px; 
}

.list-header.two{
    padding: 10px 0px;
}

.list.first-half {
    padding-top: 50px;
    padding-right: -20px;
}

.list.second-half {
    padding-top: 50px;
}

.steps-header {
    width: auto;
    height: 80px;
    background-color: rgb(239, 239, 239);
    color:rgb(158, 6, 6) ;
    padding: 20px 30px;
    font-size: 36px;
    font-weight:bolder;
    text-align: center;
}

.step {
    font-size: 24px;
}

.steps {
    white-space: pre-wrap;
    background-color: rgb(158, 6, 6) ;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding-top: -0px
}