h1 {
    background-color: blueviolet;
    font-family: Helvetica, Verdana, Arial;
    font-weight: bold;
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
}

li, a {
    font-family: Helvetica, Verdana, Arial;
    color: blueviolet;
    font-size: 30px;
    line-height: 2;
    list-style: none;
}

