html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}


body {
    font-family: Helvetica, Verdana, Arial;
}

h1 {
    width: 700px;
    height: 80px;
    border: solid blueviolet 3px;
    font-weight: bold;
    color: blueviolet;
    font-size: 40px;
    text-align: center;
    margin: auto;
    padding-top: 20px;
}

div a {
    width: 700px;
    height: 80px;
    margin: auto;
}

.box { 
    display: block;
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    margin: 5px auto;
    padding-top: 20px;
}

a.italian {
    background-color: rgb(119, 198, 88);
}

a.chili {
    background-color: rgb(228, 90, 90);
}

a.chicken {
    background-color: rgb(230, 171, 83);
}
